<div class="main-content">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-12">
                        <div class="card">
                              <div class="card-header" data-background-color="green">
                                    <h4 class="title">Create Dicussion </h4>
                              </div>
                              <div class="card-content">
                                    <form>
                                          <div class="row">
                                                <div class="col-md-12">
                                                      <div class="form-group form-black label-floating is-empty">
                                                            <label class="control-label">Dicussion Name</label>
                                                            <input type="text" class="form-control">
                                                      </div>
                                                </div>

                                          </div>

                                          <div class="row">
                                                <div class="col-md-12">
                                                      <div class="form-group">
                                                            <div class="form-group form-black label-floating is-empty">
                                                                  <label class="control-label">Desciption</label>
                                                                  <textarea class="form-control" rows="10"></textarea>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>

                                          <div class="row">
                                                <div class="col-md-12">
                                                      <div class="form-group">
                                                            <div class="form-group form-black label-floating is-empty">
                                                                  
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>




                                          <button type="submit" class="btn btn-success pull-left">Create</button>
                                          <div class="clearfix"></div>
                                    </form>
                              </div>
                        </div>
                  </div>

            </div>
      </div>
</div>